<footer class="swell-footer block">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 footer-col">
              <h5 class="swell-title swell-title-style">Us</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam delectus aut temporibus quidem.</p>
              <ul>
                <li><span><i class="fal fa-map-pin"></i></span>5985 Hobbs Dr</li>
                <li><span><i class="fal fa-phone"></i></span>(581)-510-6240</li>
                <li><span><i class="fal fa-at"></i></span>helpline@swell.com</li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-col">
              <h5 class="swell-title">Timing</h5>
              <p>Mon-Fri: 9AM-9PM</p>
              <p>Sat: 9AM-3PM</p>
              <p>Sun: Closed</p>
              <p>We are just a Call Away</p>
            </div>
            <div class="col-md-3 col-sm-6 footer-col">
              <h5 class="swell-title">About</h5>
              <ul class="footer-links-wrap">
                <li><a href="#" class="footer-link">About Us</a></li>
                <li><a href="#" class="footer-link">Shoppig Guide</a></li>
                <li><a href="#" class="footer-link">Delivery Information</a></li>
                <li><a href="#" class="footer-link">Privacy Policy</a></li>
                <li><a href="#" class="footer-link">Our Store</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-col">
              <h5 class="swell-title">Account</h5>
              <ul class="footer-links-wrap">
                <li><a href="#" class="footer-link">My Account</a></li>
                <li><a href="#" class="footer-link">Wishlist</a></li>
                <li><a href="#" class="footer-link">Order Tracking</a></li>
                <li><a href="#" class="footer-link">Shipping Info</a></li>
                <li><a href="#" class="footer-link">Return Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom pt-3">
        <div class="container">
          <p class="text-center copyright-text">&copy; Copyright 2019 Swell - All Rights Reserved</p>
        </div>
      </div>
    </footer>
