/*------------- COMPONENTS --------------*/

.btn {
	border-radius: 50px;
	padding: 0.5rem 2rem;
	background: #fff;
	text-transform: uppercase;
	font-size: 14px;
	color: $site-text-color;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-color: transparent !important;
    cursor: pointer;
	&:hover {
		-webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
	}
}

.btn-with-color {
	&:hover {
		color: $site-accent;
	}
}

.btn-wrap {
	.btn {

		&.btn-with-icon {
			position: relative;
			overflow: hidden;

			span {
				@include transition($transition-base);
				display: inline-block;
			}

			.show {
				transform: translateX(0);
				@include transition($transition-base);
			}

		.hidden {
		    transform: translateX(-500px);
		    position: absolute;
		    @include transition($transition-base);
		}

		&:hover {
			.show {

			    transform: translateX(500px);
			    position: absolute;
			    @include transition($transition-base);
			}

			.hidden {
				@include transition($transition-base);
				transform: translateX(0);
				position: relative;
			}
		}
	}
	}
}


/*------------- FORM --------------*/

.swell-form {
	.form-control {
		border-radius: 2px;
		border: 0;
		font-size: 0.85rem;
	}
	.input-group-append {
		.btn {
			border-radius: 2px;
			border: none;
			display: flex;
		}
	}
}

/*------------- TESTIMONIAL --------------*/

.swell-testimonial {
	.testimonials-list-container {
		.testimonials-list {
			font-size: 1rem;
			.testimonial-author {
				.testimonial-author-img {
					width: 65px;
					border-radius: 50%;
					margin: auto;
					margin-bottom: 1.25rem;
				}
				span {
					font-weight: 600;
					text-transform: uppercase;
					font-size: 0.9rem;
				}
			}
		}
	}
}

.slick-slider {
  overflow: hidden;

  .slick-slide {
    outline: none;
  }

	.slick-arrow {
        z-index: 1000;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include transition($transition-base);
        &:before {
          font-size: 40px;
          font-family: $font-awesome;
          color: #000;
            font-weight: 300;
        }
        &.slick-next {
          right: 25px;
          &:before {
            content: "\f054";
          }
        }
        &.slick-prev {
          left: 25px;
          &:before {
            content: "\f053";
          }
        }
        &:not(.slick-disabled) {
          &:hover {
          background: #fff;
          width: 100px;
          height: 100px;
          -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
        }
        }
      }

      .slick-dots {
        bottom: 25px;

        li {
          button {
            border: 2px solid #fff;
            border-radius: 50%;

            &:before {
              font-size: 10px;
              line-height: 22px;
              color: #fff;
            }
          }
        }
      }
}

