<!-- Special Section -->
    <div class="special-section text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 section-with-bg_img block">
                    <h3 class="swell-title text_deep_blue">Hot Deals This Week</h3>
                    <p>Grab the atractive offers before stock and offer lasts.</p>
                    <div class="countdown mt-5">
                        <div class="inner-countdown" id="inner-countdown">
                            <div class="count-section">
                                <div class="count-amount text_blue" id="count_day">10</div>
                                <div class="count-period">Days</div>
                            </div>
                            <div class="count-section">
                                <div class="count-amount text_yellow" id="count_hour">20</div>
                                <div class="count-period">Hours</div>
                            </div>
                            <div class="count-section">
                                <div class="count-amount text_mild_orange count_min" id="count_min">30</div>
                                <div class="count-period">Mins</div>
                            </div>
                            <div class="count-section">
                                <div class="count-amount text_light_green" id="count_sec">40</div>
                                <div class="count-period">Secs</div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap mt-5">
                        <div class="btn btn-light swell-btn shadow btn-with-icon text_hover_green">Shop Now
                          <span class="pl-2 show"><i class="far fa-plus"></i></span>
                          <span class="hidden pl-2 text_green"><i class="far fa-shopping-cart"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 sale-section sale-section-small block">
                    <h1 class="swell-title text_yellow swell-large-font">Sale upto 50%</h1>
                    <div class="product-on-display">
                        <div class="img-wrap display-img">
                            <img src="assets/img/special-on-sale.png" alt="" class="img-fluid">
                        </div>
                        <div class="info-wrap">
                            <h5 class="swell-title swell-product-title">Corporate Couch</h5>
                            <p class="swell-product-subtitle m-0">Modern</p>
                        </div>
                        <div class="products-pricing">
                            <p class="swell-product-caption">Makes your surrounding colorful</p>
                            <h5 class="swell-sm-price-title"><span class="offer-price">&#8377; 650</span><span class="old-price">&#8377; 750</span></h5>
                        </div>
                    </div>
                    <div class="products-grid-on-display mt-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 product-view-wrap">
                                    <div class="card product-view">
                                        <div class="card-body">
                                            <div class="img-wrap products-img">
                                                <img src="assets/img/products/1_430.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="product-caption">Modern Furniture</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 product-view-wrap">
                                    <div class="card product-view">
                                        <div class="card-body">
                                            <div class="img-wrap products-img">
                                                <img src="assets/img/products/1_439.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="product-caption">Modern Furniture</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 product-view-wrap">
                                    <div class="card product-view">
                                        <div class="card-body">
                                            <div class="img-wrap products-img">
                                                <img src="assets/img/products/1_437.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="product-caption">Modern Furniture</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 product-view-wrap">
                                    <div class="card product-view">
                                        <div class="card-body">
                                            <div class="img-wrap products-img">
                                                <img src="assets/img/products/1_438.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="product-caption">Modern Furniture</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
