<!-- Photo Album -->

<div class="container-fluid">
  <div class="product-album">
    <div class="product-album-section block">
      <ngx-slick-carousel
        class="banner"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_115_7.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
        <div ngxSlickItem class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_439.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
        <div ngxSlickItem class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_101_19.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
        <div ngxSlickItem class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_170.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
        <div ngxSlickItem class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_268.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
        <div ngxSlickItem class="product-block-album">
          <a href="#"
            ><div class="swell-product-wrap m-2 shadow">
              <div class="swell-product">
                <img
                  src="assets/img/products/1_359.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div></div
          ></a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
