<div class="testimonials-wrap">
  <div class="swell-testimonial px-4 py-5">
    <ngx-slick-carousel
      class="banner"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem class="testimonials-list-container text-center">
        <div class="row justify-content-center">
          <div class="testimonials-list col-md-9">
            <div class="testimonial-author">
              <img
                src="assets/img/user_gilbert.jpg"
                alt=""
                class="img-wrap testimonial-author-img"
              />
              <p><span>Paul Gilbert</span> - Creative Director</p>
            </div>
            <div class="testimonial-content">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              odit soluta deleniti accusamus incidunt, voluptate, nemo nostrum
              vitae dolores eum officiis ea in sint, sed perferendis! Ut
              consequatur, deleniti quidem."
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="testimonials-list-container text-center">
        <div class="row justify-content-center">
          <div class="testimonials-list col-md-9">
            <div class="testimonial-author">
              <img
                src="assets/img/user_gilbert.jpg"
                alt=""
                class="img-wrap testimonial-author-img"
              />
              <p><span>Paul Gilbert</span> - Creative Director</p>
            </div>
            <div class="testimonial-content">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              odit soluta deleniti accusamus incidunt, voluptate, nemo nostrum
              vitae dolores eum officiis ea in sint, sed perferendis! Ut
              consequatur, deleniti quidem."
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="testimonials-list-container text-center">
        <div class="row justify-content-center">
          <div class="testimonials-list col-md-9">
            <div class="testimonial-author">
              <img
                src="assets/img/user_gilbert.jpg"
                alt=""
                class="img-wrap testimonial-author-img"
              />
              <p><span>Paul Gilbert</span> - Creative Director</p>
            </div>
            <div class="testimonial-content">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              odit soluta deleniti accusamus incidunt, voluptate, nemo nostrum
              vitae dolores eum officiis ea in sint, sed perferendis! Ut
              consequatur, deleniti quidem."
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
