<!-- Top Products Section -->
    <div class="top-products block light-bg">
        <h1 class="swell-title highlighted-bg-txt">Swell Furniture</h1>
        <div class="container">
            <div class="swell-title-wrap">
                <h2 class="swell-title swell-main-title swell-title-style text-center swell-title-rev swell-title-primary">Top Products</h2>
                <p class="subtitle">Best of 2019</p>
            </div>
            <div class="products products-in-grid">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Swell Product</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Classic</a></p>
                                    <a class="cart-link" href="#"><span class="cart-check">
                                            <div class="fal fa-shopping-cart"></div>
                                        </span></a>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/1_113_8.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/4_ms_5.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <p class="swell-product-caption">Get yourself relaxed</p>
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Swell Product</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Modern</a></p>
                                    <span class="on-sale">Sale!</span>
                                    <a class="cart-link" href="#"><span class="cart-check">
                                            <div class="fal fa-shopping-cart"></div>
                                        </span></a>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/1_430.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/4_370.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <!-- <p class="swell-product-caption">Get yourself relaxed</p> -->
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Swell Product</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Classic</a></p>
                                    <span class="cart-check"><a class="cart-link" href="#">
                                            <div class="fal fa-shopping-cart"></div>
                                        </a></span>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/1_101_19.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/3_78_28.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <p class="swell-product-caption">Get yourself relaxed</p>
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Swell Product</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Classic</a></p>
                                    <a class="cart-link" href="#"><span class="cart-check">
                                            <div class="fal fa-shopping-cart"></div>
                                        </span></a>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/1_106_15.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/3_80_15.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <p class="swell-product-caption">Get yourself relaxed</p>
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Swell Product</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Modern</a></p>
                                    <span class="on-sale">Sale!</span>
                                    <a class="cart-link" href="#"><span class="cart-check">
                                            <div class="fal fa-shopping-cart"></div>
                                        </span></a>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/3_283.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/6_139.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <!-- <p class="swell-product-caption">Get yourself relaxed</p> -->
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 swell-product-wrap">
                        <div class="card shadow swell-product">
                            <div class="card-body">
                                <div class="swell-title-wrap">
                                    <h5 class="swell-title swell-product-title"><a href="#">Relaxing Chair</a></h5>
                                    <p class="swell-product-subtitle"><a href="#">Classic</a></p>
                                    <a class="cart-link" href="#"><span class="cart-check">
                                            <div class="fal fa-shopping-cart"></div>
                                        </span></a>
                                </div>
                                <div class="img-wrap products-img">
                                    <a href="#"><img src="assets/img/products/1_307.jpg" alt="" class="img-fluid small_img">
                                        <img src="assets/img/products/4_246.jpg" alt="" class="img-fluid hover_img"></a>
                                </div>
                                <div class="products-pricing">
                                    <p class="swell-product-caption">Makes your surrounding colorful</p>
                                    <h5 class="swell-sm-price-title">&#8377; 750</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a [href]="" class="btn btn-outline-light shadow btn-with-color">Show More</a>
            </div>
        </div>
    </div>
