<div class="subscribe-wrap d-flex flex-column h-100" style="background: url(assets/img/subscribe_bg.jpg) center center no-repeat; background-size: cover;">
    <div class="swell-subscribe block px-5">
        <div class="row justify-content-center justify-content-md-end">
          <div class="col-md-9">
            <h2 class="swell-title swell-main-title">Subscribe Email</h2>
            <p>Get latest news and updated in your inbox</p>
            <form action="" class="swell-form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success swell-btn" type="submit" id="basic-addon2"><i class="fal fa-envelope"></i></button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>
