@import "~src/sass/wrap";

/*------------- BLOG --------------*/

.blog-section {
	.blog-wrap {
		.post-wrap {
			background: #ffffff;

			.post-head {
				.post-category-link {
				text-transform: uppercase;
				font-weight: 700;
				color: map-get($text-color,text_mild_orange) !important;
				font-size: 14px;
			}

				.post-title-link {
					color: $site-text-color;
					font-weight: 500;
					letter-spacing: -1px;
				}
			}

			.post-info {
				color: #707070;
				font-size: 1rem;
			}
		}
	}
}
