<!-- BLog Section -->
    <div class="blog-section block light-bg">
        <h1 class="swell-title highlighted-bg-txt highlighted-bg-txt-alt">Creative Design</h1>
        <div class="container">
            <div class="swell-title-wrap">
                <h2 class="swell-title swell-main-title swell-title-style text-center swell-title-autumn swell-title-animate">Furniture Blog</h2>
                <p class="subtitle">Latest News of the Week</p>
            </div>
            <div class="blog-wrap">
                <div class="blog-container">
                    <div class="row">
                        <div class="col-md-6 post-img p-0">
                            <div class="img-wrap">
                                <a href="#"><img src="assets/img/bllog_img_1.png" alt="Blog Img" class="img-fluid"></a>
                            </div>
                        </div>
                        <article class="col-md-6 post-wrap text-center p-5">
                            <div class="post-head pt-3">
                                <div class="post-category"><a href="#" class="post-category-link">Life Style</a></div>
                                <div class="post-title pt-2"><a href="#" class="post-title-link h4">Brand New Furnished Home</a></div>
                            </div>
                            <div class="post-info pt-3">
                                <div class="post-brief">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sed quidem amet? Numquam harum impedit repudiandae tenetur sunt quidem commodi. Deleniti voluptatum dolore veniam excepturi eaque eveniet eius saepe earum.</p>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-light">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-md-6 post-img p-0 order-md-12">
                            <div class="img-wrap">
                                <a href="#"><img src="assets/img/bllog_img_2.png" alt="Blog Img" class="img-fluid"></a>
                            </div>
                        </div>
                        <article class="col-md-6 post-wrap text-center p-5 order-md-1">
                            <div class="post-head pt-3">
                                <div class="post-category"><a href="#" class="post-category-link">Life Style</a></div>
                                <div class="post-title pt-2"><a href="#" class="post-title-link h4">Brand New Furnished Home</a></div>
                            </div>
                            <div class="post-info pt-3">
                                <div class="post-brief">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sed quidem amet? Numquam harum impedit repudiandae tenetur sunt quidem commodi. Deleniti voluptatum dolore veniam excepturi eaque eveniet eius saepe earum.</p>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-light">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-md-6 post-img p-0">
                            <div class="img-wrap">
                                <a href="#"><img src="assets/img/bllog_img_3.png" alt="Blog Img" class="img-fluid"></a>
                            </div>
                        </div>
                        <article class="col-md-6 post-wrap text-center p-5">
                            <div class="post-head pt-3">
                                <div class="post-category"><a href="#" class="post-category-link">Life Style</a></div>
                                <div class="post-title pt-2"><a href="#" class="post-title-link h4">Brand New Furnished Office</a></div>
                            </div>
                            <div class="post-info pt-3">
                                <div class="post-brief">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sed quidem amet? Numquam harum impedit repudiandae tenetur sunt quidem commodi. Deleniti voluptatum dolore veniam excepturi eaque eveniet eius saepe earum.</p>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-light ">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
